<%- include("templates/header") %>

    <div class="content form">
        <div class="user-profile pods-actions" style="display: flex; justify-content: space-between; width: 100%;">
            <div class="action-button">

            </div>
            <div class="action-button">

            </div>
        </div>
        <h1>Pods you're attending</h1>
        <script>
            var pods = (<%- JSON.stringify(attendedPods) %>);
        </script>
        <% attendedPods.forEach(function(pod) { %>
            <div class="card">
                <h2>
                    <%= pod.name %>
                </h2>
                <p class="description">
                    <%= pod.eventDescription %>
                </p>
                <!-- add more pod details here -->
                <button id="<%= pod.name %>" type="button" class="btn blue-button see-details" 
              data-bs-toggle="modal" data-bs-target="#pod-details">See Details</button>
            </div>
            <br>
            <% }); %>

                <!-- content to be added later -->
    </div>

    <%- include("templates/footer") %>

        <style>
            .pods-actions {
                display: flex;
            }

            .action-button {
                margin-right: 10px;
            }

            .description {
                font-weight: 100;
            }
        </style>