<%- include("templates/header") %>

    <style>
        .card {
            width: 90vw;
            max-width: 450px;
            margin-bottom: 20px;
            /* Set a maximum width for desktop view */
        }

        /* Media query for desktop view */
        @media (min-width: 992px) {
            .card-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .card {
                flex-basis: calc(33.33% - 20px);
                /* Adjust flex-basis value for desired spacing */
                margin-bottom: 20px;
                /* Add bottom margin for spacing */
            }
        }

        .pods-actions {
            display: flex;
        }

        .action-button {
            margin-right: 10px;
        }

        .description {
            font-weight: 100;
        }

        .host-container {
            display: flex;
            align-items: center;
        }

        .host-title {
            margin: 0;
            color: white;
            font-size: 3rem;
            line-height: 1;
        }

        .pods-actions {
            display: flex;
        }

        .action-button {
            margin-right: 10px;
        }

        .description {
            font-weight: 100;
        }
    </style>

    <!-- Title on top -->
    <div class="host-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="fill: white; margin-right: 10px;">
            <!-- Add your SVG icon code here -->
            <%- include("./icons/host-2") %>
        </svg>
        <h1 class="host-title">Host</h1>
    </div>

    <!-- Caption for title -->
    <div>
        <p style="text-align: left; color: white">
            List of all the Pods you are hosting
        </p>
    </div>

    <!-- Button for hosting a new pod -->
    <a href="/createpod"><button class="btn white-button">
            Host a new pod
        </button></a>
    <hr>

    <!-- Card container -->
    <div class="card-container">
        <!-- Card for each hosted pod -->
        <% createdPods.forEach(function(pod) { %>
            <div class="card form">
                <h2>
                    <%= pod.name %>
                </h2>
                <p>
                    <strong>Location:</strong>
                    <%= pod.location %>
                </p>
                <p>
                    <strong>Host:</strong>
                    <%= pod.host %>
                </p>
                <p class="description">
                    <%= pod.eventDescription %>
                </p>
                <p class="attenders">
                    Number of Attenders: <%= pod.attenders.length %>
                </p>
                <button class="btn show-attenders" data-pod-id="<%= pod._id %>">
                    Show attenders
                </button>
                <!-- Button to see pod details (can be customized) -->
                <button id="<%= pod.name %>" type="button" class="btn blue-button see-details" data-bs-toggle="modal"
                    data-bs-target="#pod-details">See Details</button>
            </div>

            <% }); %>

                <!-- Modal -->
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p id="modal-text"></p>
                    </div>
                </div>

    </div>

    <%- include("templates/footer") %>


        <script>
            document.querySelectorAll('.show-attenders').forEach(button => {
                button.addEventListener('click', async function () {
                    const podId = this.getAttribute('data-pod-id');
                    const response = await fetch(`/pod/${podId}/attenders`);
                    const attenders = await response.json();

                    // Here you could update your page with the attenders information.
                    // This is just an example, you will need to adjust this according to your page structure and design.
                    const modalText = document.getElementById('modal-text');
                    modalText.textContent = attenders.join(', ');

                    // Display the modal
                    const modal = document.getElementById('modal');
                    modal.style.display = "block";
                });
            });

            // When the user clicks on <span> (x), close the modal
            document.querySelector('.close').addEventListener('click', function () {
                const modal = document.getElementById('modal');
                modal.style.display = "none";
            });
        </script>