<%- include("templates/header") %>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    
<script defer src="scripts/map.js"></script>
<style>
    #map {
        width: 80vw;
        max-width: 90%;
        height: 40vh;
        margin: 0 auto;
    }
</style>

<form class="form" action="/createpod" method="post" enctype="multipart/form-data">
    <h4>Enter pod information:</h4>
    <input type="text" name="name" placeholder="Name of the pod"><br>
    <label>Pod Tags </label>
    <div id="interests">
        <select id="interests-select" multiple="multiple" name="interests">
            <% const interests = ['outdoors', 'video games', 'reading', 'cooking', 'music', 'sports', 'art', 'travel', 'coding', 'photography']; %>
            <% interests.forEach((interest, index) => { %>
            <option value="<%= interest %>" <%= user.interests && user.interests.includes(interest) ? 'selected' : '' %>><%= interest %></option>
            <% }) %>
          </select>

          <script>
            $(document).ready(function() {
                $('#interests-select').select2({
                    placeholder: "Select interests",
                    allowClear: true,
                    closeOnSelect : false,
                    tags: true
                });
            });
            </script>
            
    </div>
    <textarea name="eventDescription" placeholder="Enter event description"></textarea><br>
    <input id="lat" name="lat" type="hidden">
    <input id="lng" name="lng" type="hidden">
    <label for="map">Where is this Pod?</label>
    <div id="map"></div>
    <br>

    <input type="file" name="image" accept="image/*"><br>
    <input class="btn blue-button" type="submit" value="Create!">
</form>
<%- include("templates/footer") %>