<%- include("templates/header") %>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    
<script defer src="scripts/map.js"></script>
<style>
    #map {
        width: 80vw;
        max-width: 90%;
        height: 40vh;
        margin: 0 auto;
    }
</style>

<form class="form" action="/createpod" method="post" enctype="multipart/form-data">
    <h4>Enter pod information:</h4>
    <input type="text" name="name" placeholder="Name of the pod"><br>
   
    <% const interests = user.interests; %>
    
    <label>Pod Tags </label>
    <div id="interests">
        <select id="interests-select" multiple="multiple" name="interests">
            <% interests.forEach((interest, index) => { %>
            <option value="<%= interest %>" <%= user.interests && user.interests.includes(interest) ? 'selected' : '' %>><%= interest %></option>
            <% }) %>
        </select>
    </div>

    <label class="form-label">Discover some of our recommended Orca-approved pod tags below. Join us in our mission to bring
        together like-minded individuals to make a difference in the community.
    </label>
    <div id="interests-buttons">
        <% interests.forEach((interest, index) => { %>
            <button type="button" class="interest-button <%= user.interests && user.interests.includes(interest) ? 'selected' : '' %>" data-interest="<%= interest %>"><%= interest %></button>
        <% }) %>
    </div>
    <br>
    <textarea name="eventDescription" placeholder="Enter event description"></textarea><br>
    <input id="lat" name="lat" type="hidden">
    <input id="lng" name="lng" type="hidden">
    <label for="map">Where is this Pod?</label>
    <div id="map"></div>
    <br>

    <input type="file" name="image" accept="image/*"><br>
    <input class="btn blue-button" type="submit" value="Create!">

</form>

<style>
    .interest-label {
        display: inline-block;
    }

    .interest-button {
        background-color: #1f49c8; /* Turquoise Blue */
        color: white;
        padding: 10px 20px;
        margin: 5px;
        border: none;
        cursor: pointer;
        border-radius: 20px; /* Rounded corners */
    }

    .interest-button.selected {
        background-color: #00CED1; /* Brighter Turquoise Blue */
    }
</style>

<script>
    $(document).ready(function () {
        $('#interests-select').select2({
            placeholder: "Select interests or type to add your own",
            allowClear: true,
            closeOnSelect : false,
            tags: true
        });

        $('.interest-button').click(function () {
            $(this).toggleClass('selected');
            const interest = $(this).data('interest');
            if ($(this).hasClass('selected')) {
                // Add the selected interest to the multi-select
                const option = new Option(interest, interest, true, true);
                $('#interests-select').append(option).trigger('change');
            } else {
                // Remove the selected interest from the multi-select
                $('#interests-select').find(`option[value="${interest}"]`).remove().trigger('change');
            }
        });
    });
</script>
<%- include("templates/footer") %>