<%- include("templates/header") %>

<!DOCTYPE html>
<html>
<head>
  <title>Edit Profile</title>
</head>
<body>
  <h1>Edit Profile</h1>

  <form action="/updateProfile" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="<%= user.name %>"><br>

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value="<%= user.username %>"><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" value="<%= user.email %>"><br>

    <!-- <label for="currentPassword">Current Password:</label><br>
    <input type="password" id="currentPassword" name="currentPassword"><br>

    <label for="newPassword">New Password:</label><br>
    <input type="password" id="newPassword" name="newPassword"><br> -->

    <label for="birthday">Birthday:</label><br>
    <input type="date" id="birthday" name="birthday" value="<%= user.birthday ? user.birthday.toISOString().split('T')[0] : '' %>">
    <br>

    <label for="pronouns">Pronouns:</label><br>
    <input type="text" id="pronouns" name="pronouns" value="<%= user.pronouns %>"><br>

    <input type="submit" value="Submit">
  </form>

</body>
</html>






<%- include("templates/footer") %>