<%- include("templates/header") %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<div class="user-profile form">
  <div class="profile-photo">
    <% if(user.image) { %>
      <img src="<%= user.image %>" alt="Profile Photo">
    <% } else { %>
      <img src="https://cdn.discordapp.com/attachments/828116217285836825/1106489564949925948/orca_pfp.jpg"
      alt="Profile Photo">
    <% } %>
  </div>


  <div class="profile-details">
    <h1 class="profile-name">
      <%= user.name %>
    </h1>
    <h4 class="pronouns">
      (<%= user.pronouns %>)
    </h4>
  </div>
  <h4 class="username">@<%= user.username %>
  </h4>
  <form class="form" action="/updateProfile" method="post" enctype="multipart/form-data">
    <label for="profilePhoto">Profile Photo</label>
  <input type="file" id="profilePhoto" name="profilePhoto" accept="image/png, image/jpeg">
    <input class="btn blue-button" type="submit" value="Submit">
    <hr>
    <label for="email">Email</label>
    <input class="form-control" type="email" id="email" name="email" value="<%= user.email %>">
    <br>

    <label for="birthday">Birthday</label>
    <input class="form-control" type="date" id="birthday" name="birthday"
      value="<%= user.birthday instanceof Date ? user.birthday.toISOString().split('T')[0] : '' %>">

    <input class="form-control" id="disabledInput" type="text"
      placeholder="<%= user.birthday instanceof Date ? user.birthday.toISOString().substring(0, 10) : '' %>" disabled>
    <hr>




    <label for="name">Your name</label>
    <input class="form-control" type="text" id="name" name="name" value="<%= user.name %>"><br>

    <label for="username">Username</label>
    <div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input class="form-control" type="text" id="username" name="username" value="<%= user.username %>">
      </div>
    </div>
    <br>
    <label for="pronouns">Pronouns</label>
    <input class="form-control" type="text" id="pronouns" name="pronouns" value="<%= user.pronouns %>">

    <br>
    <label>Your Pod Tags</label>
<div id="tag-inputs">
  <input type="text" class="interests" name="interests[]" placeholder="Start typing an interest...">
</div>
<button type="button" id="add-tag">Add Tag</button>
    

<script>
$(function() {
  var availableTags = <%- JSON.stringify(interests) %>;

  function initAutocomplete($el) {
    $el.autocomplete({
      source: availableTags,
      select: function(event, ui) {
        if (ui.item) {
          // Existing tag selected, nothing to do
        } else {
          // New tag entered
          var newTag = $el.val().trim();
          if (newTag) {
            // Check if the new tag seems to be a valid word
            // TODO: Replace with real NLP-based validation
            if (isProbablyValidWord(newTag)) {
              // Add to the list of available tags
              availableTags.push(newTag);
              // Update the autocomplete source
              $(".interests").autocomplete("option", "source", availableTags);
            } else {
              // Let the user know the tag is not accepted
              alert('The tag "' + newTag + '" does not seem to be a valid word. Please check and try again.');
              event.preventDefault();
            }
          }
        }
      }
    });
  }

  // Initialize autocomplete for the first input
  initAutocomplete($(".interests"));

  $("#add-tag").click(function() {
    var $newInput = $('<input type="text" class="interests" name="interests[]" placeholder="Start typing an interest...">');
    initAutocomplete($newInput);
    $("#tag-inputs").append($newInput);
  });
});

function isProbablyValidWord(word) {
  // TODO: Replace with real NLP-based validation
  // For now, just checking if the word contains at least one vowel and one consonant, 
  // which is a very simplistic and somewhat English-centric way to guess if a word is probably real
  return /[aeiou]/i.test(word) && /[^aeiou\s]/i.test(word);
}
</script>


    

  </form>

</div>





<%- include("templates/footer") %>