<!-- Based on code from Rob Vermeer at https://codepen.io/RobVermeer/pen/japZpY -->

<%- include("templates/header") %>
  <div id="loading-circle"></div>

  <div class="tinder">

    <!-- The stack of Pods -->
    <div id='stack' class="tinder--cards"></div>

    <!-- Buttons for Nope and Love -->
    <div class="tinder--buttons">

      <!-- Nope -->
      <button id="nope" class="button nope">
        <svg class="nope button" viewBox="0 0 24 24">
          <%- include("./icons/nope") %>
        </svg>
      </button>

      <!-- Love -->
      <button id="love" class="button love">
        <svg class="love" viewBox="0 0 24 24">
          <%- include("./icons/love") %>
        </svg>
      </button>
    </div>

  </div>

  <%- include("templates/footer") %>


    <!-- JS and APIs -->
    <script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script> var maxDist = ("<%= maxDist %>"); </script>

    <!-- Scripts -->
    <script src="/scripts/findPods.js"></script>
    <script src="/scripts/loading-circle.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/style/findPods.css">
    <link rel="stylesheet" href="/style/loading-circle.css">
