<%- include("templates/header") %>



  <div class="user-profile form">
    <div class="profile-photo">
      <% if(user.image) { %>
        <img src="<%= user.image %>" alt="Profile Photo">
      <% } else { %>
        <img src="https://cdn.discordapp.com/attachments/828116217285836825/1106489564949925948/orca_pfp.jpg"
        alt="Profile Photo">
      <% } %>
    </div>
    
    <div class="profile-details">
      <h1 class="profile-name">
        <%= user.name %>
      </h1>
      <h4 class="pronouns">
        (<%= user.pronouns %>)
      </h4>
    </div>
    <h4 class="username">@<%= user.username %>
    </h4>
    <div class="profile-actions">
      <div class="action-button">
        <button class="btn blue-button" onclick="window.location.href='/viewProfile'">View Details</button>
      </div>
      <div class="action-button">
        <button class="btn blue-button" onclick="window.location.href='/editProfile'">Edit Details</button>
      </div>
    </div>
    <form class="form" action="/updateProfile" method="post">
      <label for="email">Email</label>
      <input class="form-control" id="disabledInput" type="text" placeholder="<%= user.email %>" disabled>
      <br>
      <label for="birthday">Birthday</label>
      <input class="form-control" id="disabledInput" type="text"
        placeholder="<%= user.birthday instanceof Date ? user.birthday.toISOString().substring(0, 10) : '' %>" disabled>
    <br>
    <label for="interests"> Tags </label>
    <div id="interests">
      <% user.interests.forEach((interest) => { %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="<%= interest %>" disabled>
          <label class="form-check-label">
            <%= interest %>
          </label>
        </div>
      <% }) %>
    </div>
  </form>
</div>

  <%- include("templates/footer") %>

    <style>
      .profile-actions {
        display: flex;
      }

      .action-button {
        margin-right: 10px;
      }
    </style>