<%- include("templates/header") %>

    <div>
        <!-- Title on top -->
        <div style="display: flex;align-items: center;justify-content: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="fill: white; margin-right: 10px;">
                <!-- Add your SVG icon code here -->
                <%- include("./icons/settings-2") %>
            </svg>
            <h1 style="text-align: left; color: white; font-size: 3rem; line-height: 50px; margin: 0;">Settings</h1>
        </div>

        <!-- Caption for title -->
        <div style="display: flex;align-items: center;justify-content: center;">
            <p style="text-align: left; color: white">
                Change your preferences here.
            </p>
        </div>
        <hr>

        <form class="form" id="settings-form" action="/updateSettings" method="POST">
            <div>
                <label for="pod-proximity">Edit Pod Proximity:</label>
                <input type="range" id="pod-proximity" name="podProximity" min="0" max="100"
                    value="<%- user.podProximity / 10000 %>" step="1" oninput="updatePodProximityValue(this.value)">
                <div id="pod-proximity-value">
                    <%- user.podProximity / 10000 %> Kilometers
                </div>
            </div>

            <hr>
            <button class="btn blue-button" type=" submit">Save Changes</button>
        </form>
    </div>

    <script>
        function updatePodProximityValue(value) {
            document.getElementById("pod-proximity-value").textContent = value + ' Kilometers';
        }
    </script>

    <%- include("templates/footer") %>