<%- include("templates/header") %>

  <div class="user-profile-details form">
    <h1>User Profile Details</h1>
    <br>
    <h2>Hello, <%= user.name %></h2>
    <br>
    <h3>Username: <%= user.username %></h3>
    <br>
    <h3>Pronouns: <%= user.pronouns %></h3>
    <br>
    <h3>Email: <%= user.email %></h3>
    <br>
    <h3>Birthday: <%= user.birthday instanceof Date ? user.birthday.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) : '' %></h3>
      <input class="form-control" id="disabledInput" type="text"
        placeholder="<%= user.birthday instanceof Date ? user.birthday.toISOString().substring(0, 10) : '' %>" disabled>
    <br>
    <h3> Tags: </h3>
    <br>
    <%= user.interests %>
      </div>



<%- include("templates/footer") %>