<style>
        .nav-item {
                margin-right: 1px;
                margin-left: 1px;
                /* Adjust the value as per your preference */
        }


        .nav.nav-pills {
                height: 40px;
        }
</style>

<header class="d-flex justify-content-center py-3 sticky-top"
        style="background-color: white; border-bottom: 2px solid #134ACC;">

        <ul class="nav nav-pills container-fluid justify-content-center align-items-center">

                <!-- HOME -->
                <li class="nav-item">
                        <a href="/home"
                                class="nav-link <%= (typeof currentPage !== 'undefined' && currentPage === 'home') ? 'active' : '' %>"
                                aria-current="page">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                                        viewBox="0 0 24 24">
                                        <!-- Add your SVG icon code here -->
                                        <%- include("icons/home") %>
                                </svg>
                        </a>
                </li>

                <!-- PODS -->
                <li class="nav-item">
                        <a href="/yourpods"
                                class="nav-link <%= (typeof currentPage !== 'undefined' && currentPage === 'pods') ? 'active' : '' %>"
                                aria-current="page">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                                        viewBox="0 0 24 24">
                                        <!-- Add your SVG icon code here -->
                                        <%- include("icons/pods") %>
                                </svg>
                        </a>
                </li>


                <!-- PROFILE -->
                <li class="nav-item">
                        <a href="/profile"
                                class="nav-link <%= (typeof currentPage !== 'undefined' && currentPage === 'profile') ? 'active' : '' %>"
                                aria-current="page">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                                        viewBox="0 0 24 24">
                                        <!-- Add your SVG icon code here -->
                                        <%- include("icons/profile") %>
                                </svg>
                        </a>
                </li>


                <!-- SETTINGS -->
                <li class="nav-item">
                        <a href="/settings"
                                class="nav-link <%= (typeof currentPage !== 'undefined' && currentPage === 'settings') ? 'active' : '' %>"
                                aria-current="page">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                                        viewBox="0 0 24 24">
                                        <!-- Add your SVG icon code here -->
                                        <%- include("icons/settings") %>
                                </svg>
                        </a>
                </li>



        </ul>
</header>