<aside class="sidebar sticky-top">
    <div>
        <a>
            <!-- logo image -->
            <img class="sidebar__logo-image"
                src="https://cdn.discordapp.com/attachments/828116217285836825/1107519097756983306/Mobile_Logo.png"
                alt="OrcaSwipe Logo">

        </a>
        <hr>
    </div>

    <ul class="sidebar__pages">

        <li class="sidebar__page">
            <a class="sidebar__link" href="/home">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                    <%- include("../icons/home") %>
                </svg>
                Home
            </a>
        </li>

        <!-- FIND PODS -->
        <li class="sidebar__page">
            <a href="/findPods"
                class="sidebar__link <%= (typeof currentPage !== 'undefined' && currentPage === 'findPods') ? 'active' : '' %>">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                    <%- include("../icons/find") %>
                </svg>
                Find
            </a>
        </li>

        <!-- HOST PODS -->
        <li class="sidebar__page">
            <a href="/createdPods"
                class="sidebar__link <%= (typeof currentPage !== 'undefined' && currentPage === 'createdPods') ? 'active' : '' %>"
                aria-current="page">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none" viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                    <%- include("../icons/host") %>
                </svg>
                Host
            </a>
        </li>

        <!-- LINK UP WITH YOUR PODS -->
        <li class="sidebar__page">
            <a href="/attendedPods"
                class="sidebar__link<%= (typeof currentPage !== 'undefined' && currentPage === 'attendedPods') ? 'active' : '' %>"
                aria-current="page">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="none" viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                    <%- include("../icons/pods") %>
                </svg>
                Pods
            </a>
        </li>

        <li class="sidebar__page">
            <a class="sidebar__link" href="/members">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                </svg>
                Members Area
            </a>
        </li>

        <li class="sidebar__page">
            <a class="sidebar__link" href="/resetPassword">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                </svg>
                Reset my password
            </a>
        </li>

        <li class="sidebar__page">
            <a class="sidebar__link" href="/settings">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->

                </svg>
                Settings
            </a>
        </li>

        <li class="sidebar__page">
            <a class="sidebar__link" href="/logout">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->

                </svg>
                Log out
            </a>
        </li>
    </ul>

    <div class="sidebar__profile">
        <a href="/profile">
            <% if (user.image && user.image !=='' ) { %>
                <img class="pfp-icon" src="<%= user.image %>" width="30" height="30" alt="Profile Image" />
                <% } else { %>
                    <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none"
                        viewBox="0 0 24 24">
                        <!-- Add your SVG icon code here -->
                        <%- include("../icons/profile") %>
                    </svg>
                    <% } %>
        </a>
    </div>
</aside>
<style>
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .sidebar__logo {
        display: flex;
        margin-bottom: 20px;
    }

    .sidebar__logo-image {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }



    .sidebar__pages {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .sidebar__page {
        margin-bottom: 10px;
    }

    .sidebar__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .sidebar__icon {
        margin-right: 10px;
    }

    .sidebar__profile {
        margin-top: auto;
    }

    .sidebar__profile a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }
</style>