<aside class="sidebar sticky-top">
    <div>
        <a>
            <!-- logo image -->
            <img class="sidebar__logo-image"
                src="https://cdn.discordapp.com/attachments/828116217285836825/1107519097756983306/Mobile_Logo.png"
                alt="OrcaSwipe Logo">

        </a>
        <hr>
    </div>

    <ul class="sidebar__pages">

        <li class="sidebar__page">
            <a class="sidebar__link <%= (typeof currentPage !== 'undefined' && currentPage === 'home') ? 'active' : '' %>"
                href="/home">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                    <%- include("../icons/home") %>
                </svg>
                OrcaAI
            </a>
        </li>

        <!-- FIND PODS -->
        <li class="sidebar__page">
            <a href="/findPods"
                class="sidebar__link <%= (typeof currentPage !== 'undefined' && currentPage === 'findPods') ? 'active' : '' %>">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                    <%- include("../icons/find") %>
                </svg>
                Discover
            </a>
        </li>

        <!-- HOST PODS -->
        <li class="sidebar__page">
            <a href="/createdPods"
                class="sidebar__link <%= (typeof currentPage !== 'undefined' && currentPage === 'createdPods') ? 'active' : '' %>"
                aria-current="page">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                    <%- include("../icons/host") %>
                </svg>
                Host
            </a>
        </li>

        <!-- ATTENDING PODS -->
        <li class="sidebar__page">
            <a href="/attendedPods"
                class="sidebar__link <%= (typeof currentPage !== 'undefined' && currentPage === 'attendedPods') ? 'active-pods' : '' %>"
                aria-current="page">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                    <%- include("../icons/love") %>
                </svg>
                Attending
            </a>
        </li>

        <!-- PODS CHAT -->
        <li class="sidebar__page">
            <a href="/chat"
                class="sidebar__link <%= (typeof currentPage !== 'undefined' && currentPage === 'chat') ? 'active-pods' : '' %>"
                aria-current="page">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                    <%- include("../icons/pods") %>
                </svg>
                Chat
            </a>
        </li>

        <!-- SETTINGS -->
        <li class="sidebar__page">
            <a class="sidebar__link <%= (typeof currentPage !== 'undefined' && currentPage === 'settings') ? 'active-settings' : '' %>"
                href="
                /settings">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                    <%- include("../icons/settings") %>
                </svg>
                Settings
            </a>
        </li>

        <hr>

        <!-- LOG OUT -->
        <li class="sidebar__page">
            <a class="sidebar__link" href="/logout">
                <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                    viewBox="0 0 24 24">
                    <!-- Add your SVG icon code here -->
                    <%- include("../icons/logout") %>
                </svg>
                Log out
            </a>
        </li>
    </ul>

    <!-- USER's PROFILE -->
    <div class="sidebar__profile">
        <a class="sidebar__link <%= (typeof currentPage !== 'undefined' && currentPage === 'profile') ? 'profile' : '' %>"
            href="/profile">
            <% if (user.image && user.image !=='' ) { %>
                <img class="sidebar__icon pfp-icon" src="<%= user.image %>" width="30" height="30"
                    alt="Profile Image" />
                <% } else { %>
                    <svg class="sidebar__icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                        viewBox="0 0 30 30">
                        <!-- Add your SVG icon code here -->
                        <%- include("../icons/profile") %>
                    </svg>
                    <% } %>
                        <b> @<%= user.username %></b>
        </a>
    </div>
</aside>
<style>
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        /* Set a fixed height */
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        overflow-y: scroll;
        /* Enable vertical scrolling */
    }

    .sidebar__logo {
        display: flex;
        margin-bottom: 20px;
    }

    .sidebar__logo-image {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .sidebar__pages {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .sidebar__page {
        margin-bottom: 10px;
    }

    .sidebar__link {
        display: flex;
        text-decoration: none;
        color: black;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
        padding: 10 0 0 10px;
        border-radius: 10px;
    }

    .sidebar__link.active {
        background: linear-gradient(360deg, #4676EE, #134ACC);
        color: white
    }

    .sidebar__link.active-pods {
        background: linear-gradient(360deg, #3fb191, #02c78f);
        color: white
    }

    .sidebar__link.active-settings {
        background: linear-gradient(360deg, #929292, #4c4c4c);
        color: white
    }

    .sidebar__icon {
        margin: 10px;
    }

    .sidebar__profile {
        margin-top: auto;
    }

    .sidebar__profile a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .sidebar__submenu {
        display: none;
        list-style: none;
        margin-left: 10px;
        padding: 0;
    }

    .sidebar__submenu li {
        margin-bottom: 5px;
    }

    /* Show/hide the submenu when the "Settings" link is clicked */
    .sidebar__submenu.show {
        display: block;
    }

    .sidebar__dropdown-icon::after {
        content: "\25BC";
        margin-left: auto;
    }
</style>

<script>
    function toggleSettings() {
        const submenu = document.getElementById("settingsSubmenu");
        submenu.classList.toggle("show");
    }
</script>